<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '名前' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'メールアドレス' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label '電話番号' %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label 'コメント' %><br>
    <%= f.text_area :comment, :rows => '5' %>
  </div>

  <br>

  <% if @mode == "new" %>
  <div class="field">
    <%= f.label 'パスワード' %><br>
    <%= f.password_field :password %>
  </div>
  <% end %>
  <% if @mode == "edit" %>
<!--   <div class="field">
    <%= f.label '現在のパスワード' %><br>
    <%= f.password_field :now_password %>
  </div> -->
  <div class="field">
    <%= f.label '新しいパスワード' %><br>
    <%= f.password_field :password %>
  </div>
  <% end %>

  <%= f.hidden_field :bef_mode, :value => @mode %>

  <br>

  <div class="actions">
    <%= f.submit '登録', :style => 'width:100px', :confirm => 'よろしいですか？' %>
  </div>
<% end %>
