<p id="notice"><%= notice %></p>

<h1>ユーザ一覧</h1>
<p><%= Time.now %></p>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tel %> </td>
        <td><%= simple_format(user.comment) %></td>
        <td>
          <%= link_to '表示', user %>
          <%= link_to '編集', edit_user_path(user) %>
          <%= link_to '削除', user, method: :delete, data: { confirm: 'よろしいですか？' } %>
          <%= link_to 'コンテンツ', "/users/#{user.id}/contents" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ユーザ登録', new_user_path %>
<hr>
<%= link_to 'トップ画面', '/' %>